body{
    background-color: black;
    color: lime;
}
.astro{
    width: 300px; height: 300px;
    border-radius:50%;
    border: 5px white solid;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 15px lime;
}
.menu_astros{
    text-decoration: none;
    text-align: center;
    background-color: #333;
    color: white;
    width: 65px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
html{
    scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.img_Table{
  width: 200px;
  height: 200px
}
#titulo_tabela{
  color: lime;
  font-size: 100px
}
.mercurio{
  background-color: grey
}
.terra{
 background-color: steelblue
}
.marte{
 background-color: red
}
.venus{
 background-color: navajowhite
}
.saturno{
 background-color: burlywood
}
.jupiter{
background-color: tan
}
.urano{
 background-color: aqua
}
.netuno{
 background-color: blue
}
td{
 color: black;
 font-size: 25px
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
}